<div class="wrapper">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div>
<!--      <p-dropdown [options]="names" [(ngModel)]="selectName" placeholder="Select a City" optionLabel="name" [showClear]="true"></p-dropdown>-->

      <input id="name" type="text" pInputText class="w-full mb-3" placeholder="Имя">
      <input id="getdate" type="date" pInputText class="w-full mb-3" placeholder="Дата получения">
      <input id="getperiod" type="date" pInputText class="w-full mb-3" placeholder="Срок действия">
      <input id="gavebywho" type="text" pInputText class="w-full mb-3" placeholder="Кем выдан">

      <button pButton pRipple label="Отправить" class="p-button-rounded"></button>
    </div>
  </div>
</div>
