<div class="wrapper">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div>
      <input id="name" type="text" pInputText class="w-full mb-3" placeholder="Имя">
      <input id="surname" type="text" pInputText class="w-full mb-3" placeholder="Фамилия">
      <label for="time" class="block font-light mb-2">Время приема</label>
      <input id="time" type="time" pInputText class="w-full mb-3" placeholder="Время Приема">
      <input id="getinstnase" type="text" pInputText class="w-full mb-3" placeholder="Номер Инстанции">
      <label for="gettimestart" class="block font-light mb-2">Время начала рабочего дня</label>
      <input id="gettimestart" type="time" pInputText class="w-full mb-3" placeholder="Время начала рабочего дня">
      <label for="gettimefinish" class="block font-light mb-2">Время конца рабочего дня</label>
      <input id="gettimefinish" type="time" pInputText class="w-full mb-3" placeholder="Время конца рабочего дня">

      <button pButton pRipple label="Зарегистрироваться" class="p-button-rounded"></button>
    </div>
  </div>
</div>

