<div class = "header">
  <button pButton type="button" id = "exit" label="Выйти" class="p-button-raised p-button-rounded p-button" (click)="logOut()"></button>
</div>
<div class = "headerr">
  <button pButton type="button" id = "back" label="Назад" class="p-button-raised p-button-rounded p-button" (click)="back()"></button>
</div>
<div id="result_table" class = "custom_table">
<!--  <table align="center" id = "table">-->
<!--    <tr>-->
<!--      <th class="col1">Магазин</th>-->
<!--      <th class="col1">Количество</th>-->
<!--      <th class="col1">Время производства</th>-->
<!--      <th class="col1">Стоимость</th>-->
<!--      <th class="col1">Купить</th>-->
<!--    </tr>-->
<!--    <tr *ngFor="let point of rows">-->
<!--      <td class="col1">Bookkeeping {{point.id}}</td>-->
<!--      <td class="col1">{{point.quantity}}</td>-->
<!--      <td class="col1">{{point.time}}</td>-->
<!--      <td class="col1">{{point.cost}}</td>-->
<!--      <td class="columns"><button pButton type="button" label="Купить" class="p-button-raised p-button-rounded p-button" (click)="onClick(point.id)"></button></td>-->
<!--    </tr>-->
<!--  </table>-->
  <p-table [value]="rows" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Магазин</th>
        <th pSortableColumn="quantity">Количество<p-sortIcon field="Количество"></p-sortIcon></th>
        <th pSortableColumn="time">Время производства<p-sortIcon field="Время производства"></p-sortIcon></th>
        <th pSortableColumn="cost">Стоимость<p-sortIcon field="Стоимость"></p-sortIcon></th>
        <th>Купить</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.id}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.time}}</td>
        <td>{{product.cost}}</td>
        <td class="columns"><button pButton type="button" label="Купить" class="p-button-raised p-button-rounded p-button" (click)="onClick(product.id)"></button></td>
      </tr>
    </ng-template>
  </p-table>
</div>
