<div class = "header">
  <button pButton type="button" id = "exit" label="Выйти" class="p-button-raised p-button-rounded p-button" (click)="logOut()"></button>
</div>
<div class = "headerr">
  <button pButton type="button" id = "back" label="Назад" class="p-button-raised p-button-rounded p-button" (click)="back()"></button>
</div>
<div id="result_table">
  <!--  <table align="center" id = "table">-->
  <!--    <tr>-->
  <!--      <th class="col1">Id</th>-->
  <!--      <th class="col1">Название</th>-->
  <!--      <th class="col1">Дата получения</th>-->
  <!--      <th class="col1">Срок действия</th>-->
  <!--      <th class="col1">Кем выдано</th>-->
  <!--    </tr>-->
  <!--    <tr *ngFor="let point of rows" (click)="onClick(point.id)">-->
  <!--      <td class="col1">{{point.id}}</td>-->
  <!--      <td class="col1">{{point.name}}</td>-->
  <!--      <td class="col1">{{point.date1}}</td>-->
  <!--      <td class="col1">{{point.date2}}</td>-->
  <!--      <td class="columns">{{point.bywho}}</td>-->
  <!--    </tr>-->
  <!--  </table>-->
  <div class = "result_table">
    <p-table [value]="rows" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">Id <p-sortIcon field="Id"></p-sortIcon></th>
          <th pSortableColumn="name">Название <p-sortIcon field="Название"></p-sortIcon></th>
          <th pSortableColumn="date1">Подписи <p-sortIcon field="Подписи"></p-sortIcon></th>
          <th pSortableColumn="date2">Проверка <p-sortIcon field="Проверка"></p-sortIcon></th>
          <th pSortableColumn="bywho">Проверить? <p-sortIcon field="Проверить?"></p-sortIcon></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.sign}}</td>
          <td>{{product.check}}</td>
          <td><button pButton type="button" label="Отправить на проверку" class="p-button-raised p-button-rounded p-button" (click)="onClick(product.id)"></button></td>
        </tr>
      </ng-template>
    </p-table>
    <div class = "headerr">
      <button pButton type="button" id = "nextLvl" label="К следующей инстанции" class="p-button-raised p-button-rounded p-button" (click)="nextLvl()"></button>
    </div>
  </div>
</div>
