table{
  background: white;
}
.header{
  position: absolute;
  right: 1%;
  top: 1%;
}

.headerr{
  position: absolute;
  left: 1%;
  top: 1%;
}

button{
  text-align: center;
  background-color: black;
  margin-bottom: 1em !important;
  border: none;
  width: 100% !important;
}

.result_table {
  margin-top: 60px;
}
