.glow-button {
  text-decoration: none;
  display: inline-block;
  padding: 15px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #000000 inset, 0 0 0 0 #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
}
.glow-button:hover {
  box-shadow: 0 0 10px 0 #000000 inset, 0 0 10px 4px #ffffff;
  color: #000000;
}

div {
  text-align: center;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
