<div class = "header">
  <button pButton type="button" id = "exit" label="Выйти" class="p-button-raised p-button-rounded p-button" (click)="logOut()"></button>
</div>
<div class = "headerr">
  <button pButton type="button" id = "back" label="Назад" class="p-button-raised p-button-rounded p-button" (click)="back()"></button>
</div>
<div id="result_table" class="table_custom">
<!--  <p>Id: {{rows.id}}</p>-->
<!--  <p>Название: {{rows.name}}</p>-->
<!--  <p>Дата выдачи: {{rows.date1}}</p>-->
<!--  <p>Срок действия: {{rows.date2}}</p>-->
<!--  <p>Кем выдано: {{rows.bywho}}</p>-->
<!--  <p>Льготы: {{rows.lgot}}</p>-->
<!--  <p>Подписи: {{rows.pod}}</p>-->
<!--  <p>Подтверждение: {{rows.podtver}}</p>-->

  <p-table [value]="rows" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Id: </th>
        <th>Название: </th>
        <th>Дата выдачи: </th>
        <th>Срок действия: </th>
        <th>Кем выдано: </th>
        <th>Льготы: </th>
        <th>Подписи: </th>
        <th>Подтверждение: </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.date1}}</td>
        <td>{{product.date2}}</td>
        <td>{{product.bywho}}</td>
        <td>{{product.lgot}}</td>
        <td>{{product.pod}}</td>
        <td>{{product.podtver}}</td>
      </tr>
    </ng-template>
  </p-table>



</div>
