<div>
    <div class = "header">
      <button pButton type="button" id = "exit" label="Выйти" class="p-button-raised p-button-rounded p-button" (click)="logOut()"></button>
    </div>
  <div class = "wrappInfo">
    <div class="info">
      <p>Текущий пользователь: {{login}}</p>
      <p>Вы на инстанции номер: {{user.id}}</p>
      <p>Ваши средства: {{user.name}}</p>
    </div>
  </div>
    <div class="wrapper">
    <button pButton type="button" id = "queue" label="Очередь"  class="p-button-raised p-button-rounded p-button-lg" (click)="toQ()"></button>
      <button pButton type="button" id = "docs" label="Документы"  class="p-button-raised p-button-rounded p-button-lg" (click)="toD()"></button>
      <button pButton type="button" id = "shop" label="Магазин"  class="p-button-raised p-button-rounded p-button-lg" (click)="toS()"></button>
      <button pButton type="button" id = "nextLvl" label="Следующая инстанция"  class="p-button-raised p-button-rounded p-button-lg" (click)="toL()"></button>
    </div>

</div>
